<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">Eyob Blog</div>
            <ul class="navbar-links">
                <li><a href="{{url_for('')}}">Home</a></li>
                <li><a href="{{url_for('')}}">About</a></li>
                <li><a href="{{url_for('')}}">Services</a></li>
                <li><a href="{{url_for('')}}">Contact</a></li>
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}
</div>
</body>
</html>
