<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

</head>
<body>
<div class="container">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand"><a href="/">eyob-blog</a></div>
            <ul class="navbar-links">
                <li><a href="/home">Home</a></li>
                {% if user.is_authenticated %}
                <li><a href="/logout">Logout</a></li>
                {% else %}
                <li><a href="/login">Login</a></li>
                <li><a href="/sign-up">Sign Up</a></li>
                {% endif %}
                {% if user.is_admin  %}
                <li><a href="/create-post"> Create post</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
<div class="flash-container">
    {% for category, message in messages %}
    <div class="{{ category }} flash-message">
        {{ message }}
        <span class="close-btn">X</span>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
{% block content %}{% endblock %}
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
<script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
</body>
</html>
